<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusqueda2"
        placeholder="Ingresar un nombre o apellido a buscar...">
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusqueda3"
        placeholder="Ingresar un DNI a buscar...">
    <br>

    <div class="alert alert-danger" v-if="mostrarAlerta">
        ¡Ingresar minimo 3 caracteres!
    </div>

    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '', //Todo
            criterioDeBusqueda2: '', //Nombre y apellido
            criterioDeBusqueda3: '', // DNI
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Luciano",
                    apellido: "Rubin",
                    correo: "rubin.luciano1@gmail.com",
                    dni: "44788817"
                },
                {
                    nombre: "Luciano",
                    apellido: "Rubin",
                    correo: "rubin.luciano1@gmail.com",
                    dni: "20561847"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                    let criterio1 = registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase())

                    let registroNombreApellido = `${persona.nombre} ${persona.apellido}`
                    let criterio2 = registroNombreApellido.toLowerCase().includes(this.criterioDeBusqueda2.toLowerCase())

                    let registroDNI = persona.dni
                    let criterio3 = registroDNI.toLowerCase().includes(this.criterioDeBusqueda3.toLowerCase())
                    
                    return criterio1 && criterio2 && criterio3;
                });
            },
            mostrarAlerta(){
                let mostrar = false
                const min = 3
                this.criterioDeBusqueda.length < min
                && this.criterioDeBusqueda2.length < min
                && this.criterioDeBusqueda3.length < min ? mostrar = true : mostrar 
                return mostrar
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>